.home-list,
.home-name,
.home-info,
.home-info p,
.home-info li, ul, li,
.home-list div {
    background-color: #ebe8c3;
}

.home-head {
   margin-left: 20px; 
}

.home-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
}

.home-list img {
    border-radius: 5px;
    width: 100%;
    margin-block: 20px;
}

.home-info ul {
    list-style: none;
    padding-left: 10px;
}