@font-face {
    font-family: 'Sneak Regular';
    src: url('./fonts/Sneak/Sneak-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Sneak Medium';
    src: url('./fonts/Sneak/Sneak-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Teodor Light';
    src: url('./fonts/Teodor/Teodor-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Teodor Regular';
    src: url('./fonts/Teodor/Teodor-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sharp Grotesk Sm Bold 12';
    src: url('./fonts/Sharp/SharpGroteskSmBold12-Regular.ttf') format('truetype');
}



:root {
    --bg-color: #F8F7F0;
    --orange-color: #CF7625;
    --primary-font: 'Teodor Light', sans-serif;
    --primary-font-regular: 'Teodor Regular', sans-serif;
    --secondary-font: 'Sneak Regular', sans-serif;
    --thirth-font: 'Sharp Grotesk Sm Bold 12', sans-serif;
    --error-color: #dd3434c5;
}

*{
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    margin: 0;
}