.title {
    text-align: center;
    font-family: var(--secondary-font);
    margin-block: 30px;
}

.form-container {
    width: 500px;
    margin:auto;
}

.homes-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.homes-form input,
.homes-form select,
.homes-form textarea {
    background-color: #fff;
    border: 1px solid #9c9797;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    font-family: var(--secondary-font);
    color:#797979;
}

.homes-form option {
    background-color: #fff;
    font-family: var(--secondary-font);
    color:#020202;
}

.homes-form label {
    margin-left: 5px;
}

.homes-form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

 .homes-form .furnished {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 5px;
}

.homes-form button[type="submit"] {
    border: 1px solid #fff;
    background-color: #020202;
    color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    
}

/* errors */
.homes-form p {
    color: var(--error-color);
    margin-top: -5px;
}


/*EDIT MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    max-height: 500px;
    overflow-y: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }