.form-container {
    width: 400px;
    margin:auto;
}
.homes-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.homes-form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

 .homes-form .furnished {
    display: flex;
    flex-direction: row;
    gap: 10px;
}